<h2>Promociones</h2>
<a href='javascript://' class='add'>Agregar Nueva Promoción</a>
<table class="list" cellspacing='0px'>
	<thead>
	<tr>
		<% for(var attr in Nahual.Promociones.Models.Promocion.attributes){%>
			<% if(attr == 'id') continue;%>
			<th><%= attr%> </th>	 
		<%}%>
		<th>Options</th>
	</tr>
	</thead>
	<tbody>
		<%= $.View('//nahual/promociones/views/promocion/list',{promocions: promocions})%>
	</tbody>
</table>