<%for(var attribute in this.Class.attributes){%>
	<%if(attribute == 'id') continue;%>
	<td class='<%= attribute%>'>
		<%=this[attribute]%>
	</td>
<%}%>
<td>
	<a href='javascript://' class='edit'>Editar</a>
	<a href='javascript://' class='delete'>Borrar</a>
</td>