<form <%= this%> id="editForm">
	<fieldset style=" margin-top:50px;margin-bottom:50px" >
		<legend>Identificación</legend>
		<p style="padding-left: 30px;">
			<div style="padding-top: 10px">
				<div>
					<div style="vertical-align:top;display:inline-block;width:120px" >
						<label for="cuenta" >Cuenta</label>
					</div>
					<input class="required" type="text" id="cuenta" name="cuenta" value="admin" /> *
				</div>
			</div>
			<div style="padding-top: 10px">
				<div>
					<div style="vertical-align:top;display:inline-block;width:120px" >
						<label for="password" >Contraseña</label>
					</div>
					<input class="required" type="password" id="password" name="password" value="admin"/> *
				</div>
			</div>
		</p>
		<p style="padding-left: 100px;">
			<input type='submit' class="enter" value='Ingresar'/>
		</p>
	</fieldset>
</form>
