<h2>Promociones</h2>
<a href='javascript://' class='add'>Agregar Nueva Promoción</a>
<table class="list" cellspacing='0px'>
	<thead>
	<tr>
		<% for(var i = 0; i < Nahual.Promociones.Models.Promocion.editableAttributes.length; ++i){ 
			var attr = Nahual.Promociones.Models.Promocion.editableAttributes[i];
		%>
			<th><%= attr.Description%> </th>	 
		<%}%>
		<th>Options</th>
	</tr>
	</thead>
	<tbody>
		<%= controller.view('list',{promociones: promociones})%>
	</tbody>
</table>
